<turbo-frame id="character-sheet" class="flex flex-col space-y-3" data-controller="character">
  <h1 class="text-xl"><%= character.name %></h1>
  <div id="character" class="flex p-3 border border-gray-200 rounded-md space-x-4">
    <p>
      <strong>Description:</strong>
      <%= character.description %>
    </p>

    <p>
      <strong>Level:</strong>
      <%= character.level %>
    </p>

    <p>
      <strong>Max Health:</strong>
      <%= character.health %>
    </p>

    <p>
      <strong>Threat Power:</strong>
      <%= character.threat_power %>
    </p>
  </div>

  <turbo-frame id="traits">
    <div class="flex space-x-5 w-full">
      <% character.traits.each do |trait| %>
        <div class="flex flex-col p-3 border border-gray-200 rounded-md items-center w-1/6">
          <p><%= trait.name %></p>
          <p><%= trait.cached_value %></p>
          <div class="flex text-sm text-zinc-500">
           <p class="text-green-900"><%= "#{trait.crit_success}" %></p> 
           <p class="mx-2">/</p>
           <p class="text-red-900"><%= "#{trait.crit_fail}" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </turbo-frame>

  <turbo-frame id="weapon_list">
    <%= render "weapon_list", character: character %>
  </turbo-frame>

  <turbo-frame id="gear_list">
    <div class="flex flex-col p-3 m-3 border border-gray-200 rounded-md">
      <h1>Gear</h1>
      <ul>
        <% character.gear.each do |gear| %>
          <li class="border-b border-gray-200">
            <div class="flex items-center">
              <p class="m-3"><%= gear.name %></p>
              <span class="grow"></span>
              <%= 
                button_to "X", 
                entity_resource_path(
                  entity_id: character.id, 
                  entity_type: "Character",
                  resource_id: gear.id,
                  resource_type: "Gear"
                ),
                class: "m-3 text-red-500", 
                method: :delete, 
                data: { 
                  turbo_action: "replace",
                  turbo_frame: "gear_list"
                } 
              %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </turbo-frame>

  <div>
    <%= link_to "Edit this character", edit_character_path(character) %> |
    <%= link_to "Back to characters", characters_path %>

    <%= button_to "Destroy this character", @character, method: :delete %>
  </div>
</turbo-frame>
